body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p {
    color: darkblue;
    border: 1px solid powderblue;
    padding: 10px;
    margin: 10px;
}
p.error {
    color: red;
}
#p01 {
    color: blue;
    
}
a:hover {
   color:orange;
   background-color: transparent;
   text-decoration: underline;
}
a:link {
    background-color: transparent; 
    text-decoration: none;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    txt-align: center;
}
div.box {
    background-color: white;
    color: lightblue;
    margin: 20px 0 20px 0;
    padding: 10px;
} 
span.important {
    font-size:120%;
    color:red;
}